<% content_for :left_sidebar do %>
    <nobr>
      <% directory = @directories.shift %>
      <ul>
        <li class="header directory" data-id="<%= directory.id %>">
          <%= fa_icon 'folder-open' %> <%= directory.name %>
        </li>
        <%= render 'files/file', files: directory.files if directory.present? && directory.files.any? %>
        <%= nested_directory @directories, @showed %>
      </ul>
    </nobr>
<% end %>
<%= render 'files/tab' %>

<%= javascript_tag render template: 'directories/directories.js.erb.coffee' %>
<%= javascript_tag render template: 'files/files.js.erb.coffee' %>