<% content_for :left_sidebar do %>
  <nobr>
    <% directory = @directories.shift %>
    <div id="tree">
      <ul id="treeData" style="display: none;">
        <li class="header folder">
          <a><%= directory.name %></a>
          <%#= render 'files/file', files: directory.files if directory.present? && directory.files.any? %>
          <%#= nested_directory @directories, @showed %>
        </li>
      </ul>
    </div>
  </nobr>
  <code>
    <div id="tree2">
      <ul id="treeData2">
        <li class="header folder">
          <a><%= directory.name %></a>
          <%= nested_directory @directories, @showed %>
          <%= render 'files/file', files: directory.files if directory.present? && directory.files.any? %>
        </li>
      </ul>
    </div>
  </code>
<% end %>
<%= render 'files/tab' %>

<%= javascript_tag render template: 'directories/directories.js.erb.coffee' %>
<%= javascript_tag render template: 'files/files.js.erb.coffee' %>

<div id="tree3">
  <ul id="treeData3">
    <li class="header folder">
      <a>Project 1</a>
      <ul>
        <li class="folder" data-id="15">
          <a><i class="fa fa-folder-open"></i> test dir</a>
          <ul>

            <li>
              <a data-id="1" href="/test dir/main.cpp.html" onclick="return false"><img alt="File extension cpp icon" class="file-type-icon" src="/assets/extensions/file-extension-cpp-icon.png">
                main.cpp</a>
            </li>
            <li>
              <a data-id="2" href="/test dir/index.php.html" onclick="return false"><img alt="File extension php icon" class="file-type-icon" src="/assets/extensions/file-extension-php-icon.png">
                index.php</a>
            </li>
            <li>
              <a data-id="3" href="/test dir/index.html.erb.html" onclick="return false"><img alt="File extension erb icon" class="file-type-icon" src="/assets/extensions/file-extension-erb-icon.png">
                index.html.erb</a>
            </li>
          </ul>
          <ul>
            <li class="folder" data-id="17">
              <a><i class="fa fa-folder-open"></i> test dir 2</a>


            </li>
          </ul>
          <ul>
            <li class="folder" data-id="18">
              <a><i class="fa fa-folder-open"></i> test dir</a>


            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li class="folder" data-id="16">
          <a><i class="fa fa-folder-open"></i> test dir 2</a>


        </li>
      </ul>
      <ul>

        <li id="id1">
          <a data-id="6" href="/index.html" onclick="return false"><img alt="File extension html icon" class="file-type-icon" src="/assets/extensions/file-extension-html-icon.png">
            index.html</a>
        </li>
        <li id="id1">
          <a data-id="7" href="/index.phtml.html" onclick="return false"><img alt="File extension phtml icon" class="file-type-icon" src="/assets/extensions/file-extension-phtml-icon.png">
            index.phtml</a>
        </li>
        <li id="id1">
          <a data-id="8" href="/main.cpp.html" onclick="return false"><img alt="File extension cpp icon" class="file-type-icon" src="/assets/extensions/file-extension-cpp-icon.png">
            main.cpp</a>
        </li>
      </ul>
    </li>
  </ul>
</div>