<%= form_for(@file) do |f| %>
  <% if @file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% @file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :directory_id %><br>
    <%= f.number_field :directory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
