<% @file = DataSet.find_by_id(id) %>
<div id="file<%= @file.id %>" style="display: block">

  <div id="file_text<%= @file.id %>" class="code"><%= @file.text %></div>

</div>
<%= simple_form_for @file do |f| %>
    <%= f.text_area :text, id: "data_set_text_#{@file.id}" %>
<% end %>

<%= javascript_tag do %>
    var editor = ace.edit("file_text<%= @file.id %>");
    editor.getSession().setUseWorker(true);
    editor.getSession().setUseWrapMode(true);
    editor.setHighlightActiveLine(true);
    editor.renderer.setShowGutter(true)
    editor.setFontSize('15px')
    editor.getSession().setMode("ace/mode/c_cpp")
    editor.setTheme("ace/theme/xcode")
    $("#file_text<%= @file.id %>").show()
    $("#file_text<%= @file.id %>").children().show()
    $('#files ul li a').click(function(e) {
        e.preventDefault()

    })
    editor.getSession().on('change', function(){
        var el = $(".active").children("a")
        if(-1 === el.html().indexOf("*"))
            el.append('<span class="unsaved">*</span>')

    });
    editor.commands.addCommand({
        name: 'saveFile',
        bindKey: {
            win: 'Ctrl-S',
            mac: 'Command-S',
            sender: 'editor|cli'
        },
        exec: function(env, args, request) {
           var id = $($(".active").parent().find(".active")[0]).children().attr("class").substring(4)
           var tmp = ace.edit("file_text" + id)
            $.get("/file/save_file", {id: id, text: tmp.getSession().getValue()}, function(ans) {
                $(".active").children("a").find(".unsaved").remove()
            });
        }
    });
<% end %>