<% @file = DataSet.find_by_id(id) %>
<div id="file<%= @file.id %>" style="display: block">

  <div id="file_text<%= @file.id %>" class="code"><%= @file.text %></div>

</div>
<%= simple_form_for @file do |f| %>
    <%= f.text_area :text, id: "data_set_text_#{@file.id}" %>
<% end %>

<%= javascript_tag render template: 'files/ace.js.erb' %>